@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #000;
  }
} */


body { 

  padding: 1rem;
}

@layer base { 
  h1 { 
    @apply font-bold text-2xl mb-3
  }
}